CLIENT_URL=http://localhost:3000
APP_URL=http://localhost:3000
JWT_SECRET=supersecret
JWT_REFRESH_TOKEN_SECRET=supersecret2
JWT_TOKEN_AUDIENCE=localhost
JWT_TOKEN_ISSUER=localhost
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAIL_HOST=
MAIL_PORT=
MAIL_IGNORE_TLS=
MAIL_SECURE=
MAIL_USER=
MAIL_PASSWORD=
MAIL_DEFAULT_EMAIL=
MAIL_DEFAULT_NAME=
API_VERSION=1
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=blog
DATABASE_SYNC=true
DATABASE_AUTOLOAD=true
SENTRY_DSN=
