# PORT
PORT=3000

# database
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USER="your_database_user"
DATABASE_PASSWORD="your_database_password"
DATABASE_NAME="nest-blog-api"
DATABASE_AUTOLOAD="true"
DATABASE_SYNC="true"

# redis-connection
REDIS_URL="rediss://default:your_password@your_redis_host:6379"

# api-version
API_VERSION=0.1.1

# JSON-WEB-TOKEN-JWT
JWT_SECRET="your_jwt_secret_here"
JWT_REFRESH_TOKEN_SECRET="your_jwt_refresh_secret_here"
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400

# mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER="your_mailtrap_username"
MAIL_PASSWORD="your_mailtrap_password"
MAIL_SECURE=false
MAIL_IGNORE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@yourdomain.com
MAIL_DEFAULT_NAME="Nest Blog Team"

# Rate Limiting Configurations
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

# sentry
SENTRY_DSN="https://your_public_key@ingest.sentry.io/your_project_id"